h1 {
	color: #60D3FF;
	font-family: 'Playfair Display SC', serif;
	padding-left: 100px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom:0px;
	margin-left: 110px;
}
.abouttitle {
	margin-left: 55px;
	text-align: center;
}

#bodyplace {
	margin: 1px 100px 10px 100px;
	padding-left: 100px;
}
nav ul li {
	display: block;
	font-size: 140%;
	text-align: center;
	padding-left: 0;
}

nav ul {
	position: fixed;
	margin-bottom:0%;
	margin-top: 0;
	margin-right: 0;
	padding-left: 0;
	padding-bottom: 100%;
	padding-top: 100px;
	background-color: #172557;
	float: left;
	min-height: 1516px;
	width: 150px;
}

nav ul li a {
	padding: 0;
	background-color: #172557;
	color: White;
}

nav ul li a:hover {
	text-decoration: underline;	
}

body {
	background-color: #07123A;
	min-width: 1258px;
}

h2 {
	font-size: 90%;
	font-family: 'Alegreya Sans', sans-serif;
	color: #FFFFFF;
	margin-left: 210px;
	margin-top:0px;
	padding-top: 0px;
}
h3{
	color: #fff;
	margin-left:200px;
}
article{
	-webkit-columns: 2 400px;
		-moz-columns: 2 400px;
			columns:2 400px;
}
p {
	font-size: 100%;
	font-family: 'Alegreya Sans', sans-serif;
	color: #FFFFFF;
	padding-top: 60px;
	margin-left: 150px;
	min-width: 1258px;

}
a {
	font-family: 'Alegreya Sans', sans-serif;
	text-decoration: none;
	color:#5591C3;
}
#group1 {
	margin-left: 210px;
	position: static;
}

#group2 {
	margin-top: 25px;
	margin-left: 210px;
	position:static;
}
img{
	transition: 1s;
	margin-right: 5px;
}
img:hover{
	transform: scale(1.1);
}

#aboutphoto{
	padding-top: 15px;
	padding-left: 50px;
	margin-left: 200px;
	transition: none;
}
#aboutphoto:hover{
	transform: none;
}
.profilep{
	padding-top: 0;
	margin-top:0;
	margin-left: 200px;

}
.names{
	font-style: italic;
	margin-left: 200px;
	margin-bottom:0;
} 

.profilephoto{
	margin-left: 200px;
	transition:none;
}
.profilephoto:hover{
	transform: none;
}
.profilephoto1{
	margin-left: 100px;
	transition:none;
}
.profilephoto1:hover{
	transform:none;
}