h1 {
	color: #60D3FF;
	font-family: 'Playfair Display SC', serif;
	padding-left: 100px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom:0px;
	margin-left: 110px;
}
.abouttitle {
	margin-left: 55px;
}
#bodyplace {
	margin: 1px 100px 10px 100px;
	padding-left: 100px;
}
nav ul li {
	display: block;
}

nav ul {
	position: fixed;
	margin-bottom:0%;
	margin-top: 0;
	margin-right: 0;
	padding-bottom: 100%;
	padding-top: 100px;
	background-color: #172557;
	float: left;
	width: 100px;
	
}

nav ul li a {
	padding: 0;
	background-color: #172557;
	color: White;
}

nav ul li a:hover {
	text-decoration: underline;
	
}

body {
	background-color: #07123A;
	min-width: 1232px;
}

h2 {
	font-size: 90%;
	font-family: 'Alegreya Sans', sans-serif;
	color: #FFFFFF;
	margin-left: 210px;
	margin-top:0px;
	padding-top: 0px;
}
p {
	font-size: 90%;
	font-family: 'Alegreya Sans', sans-serif;
	color: #FFFFFF;
	margin-left: 150px;
	min-width: 1400px;
}
a {
	font-family: 'Alegreya Sans', sans-serif;
	text-decoration: none;
}
#group1 {
	margin-left: 210px;
	position: static;
}

#group2 {
	margin-top: 25px;
	margin-left: 210px;
	position:static;
}
img{
	transition: 1s;
	margin-right: 5px;
}
img:hover{
	transform: scale(1.1);
}